:root {
   --banner: #FDF0EA;
   --pink: rgb(255,178,176);
   --dark-pink: #FFA4B5;
   --blue: #9CCACA;
   --dark-blue: rgb(54,114,135);
   --reddish: rgb(247,105,101);
   --accent-color: rgb(255,194,78);
   --text: #fff;
}
@font-face {
   font-family: 'Graphik';
   src: url('assets/font/graphik/GraphikRegular.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Graphik Bold';
   src: url('assets/font/graphik/GraphikBold.otf') format('opentype');
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: 'Playground';
   src: url('assets/font/Playground/Playground.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Graphik', sans-serif;
   overflow-x: hidden;
}
a {
   font-family: 'Graphik Bold', sans-serif;
}
.announce {
   background-color: var(--pink);
   color: var(--text);
   letter-spacing: 1px;
}
.img-logo-container {
   width: fit-content;
   margin:  0 auto;
}
.btn-container {
   width: fit-content;
   margin-left: auto;
}
.yellow-btn {
   background-color: var(--accent-color);
   border-radius: 100%;
   color: var(--text);
}
.yellow-btn:hover {
   background-color: var(--reddish);
   color: var(--text);
}
.header-btn:hover {
   color: var(--reddish);
}
.nav-menu {
   background-color: var(--blue);
}
.nav-menu a {
   color: var(--text);
}
.nav-menu a:hover {
   color: var(--reddish);
}
.drop-menu {
   background-color:  var(--blue);
   border: none;
}
.drop-menu li a:hover {
   background-color:  var(--blue);
}
.banner .shop-btn {
   background-color: var(--dark-blue);
   color: var(--text);
   font-family: 'Graphik Bold', sans-serif;
   letter-spacing: 2px;
   padding: 1rem 3rem;
   bottom: 30px;
   left: 50%;
   transform: translateX(-50%);
}
.banner .shop-btn:hover {
   background-color: var(--reddish);
   color: var(--text)
}
.card-container {
   padding: 0;
   margin: 0;
}
.cards {
   height: 300px;
   width: 300px;
   margin: 20px;
}
.card-container .box-card {
   border-radius: 0;
   border: none;
   height: 100%;
   width: 100%;
   color: var(--text);
   text-transform: uppercase;
   font-family: "Playground", sans-serif;
}
.card-container .box-card-1 {
   background-color: var(--accent-color);
}
.card-container .box-card-2 {
   background-color: var(--pink);
}
.card-container .box-card-3 {
   background-color: var(--blue);
}
.card-container .box-card-4 {
   background-color: var(--reddish);
}
.subscribe-section {
   margin-top: 100px;
   background-color: var(--blue);
   position: relative;
}
.subscribe-section .rainbow {
   width: 100px;
   position: absolute;
   top: -30px;
   left: 50%;
   transform: translateX(-50%);
}
.subscribe-section h2 {
   font-family: 'Playground', sans-serif;
   font-size: 3rem;
   color: var(--text);
   text-shadow: 4px 4px 2px var(--dark-blue);
   text-transform: uppercase;
   margin: 20px 0;
}
.subscribe-section i {
   color: var(--accent-color);
   text-shadow: 4px 4px 2px var(--dark-blue);
}
.subscribe-section p {
   font-family: 'Graphik Bold', sans-serif;
   font-size: 16px;
   color: #555;
   margin-bottom: 30px;
}
.new-in h2 {
   color: var(--dark-blue);
   font-family: 'Graphik Bold', sans-serif;
}
.card {
   border: none;
}
.card-img-top {
   height: 300px;
}
.card-img-top-1 {
   background-image: url('assets/img/flowers.png'); background-size: cover;
   background-position: center;
}
.card-img-top-2 {
   background-image: url('assets/img/tea.png'); background-size: cover;
   background-position: center;
}
.card-img-top-3 {
   background-image: url('assets/img/decoration.png'); background-size: cover;
   background-position: center;
}
.card-img-top-4 {
   background-image: url('assets/img/book.png'); background-size: cover;
   background-position: center;
}
.view-all {
   background-color: var(--dark-pink);
   color: var(--text);
   font-family: 'Graphik Bold', sans-serif;
   width: fit-content;
   padding: 1rem 2.3rem;
}
.view-all:hover {
   background-color: var(--accent-color);
   color: var(--text);
}
footer .pink-stripe {
   height: 30vh;
   background-image: url("assets/img/footer.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top;
}
footer h2 {
   font-family: 'Playground', sans-serif;
   color: var(--text);
   text-shadow: 4px 4px 2px var(--reddish);
}
footer .pink-stripe h2 {
   font-size: 4rem;
}
footer .blue-stripe {
   background-color: var(--blue);
}
@media (min-width: 300px) {
   .search-container button {
      display: block;
      margin: 0 auto;
   }
   .btn-container {
      margin: 0 auto;
      text-align: center;
   }
   .container-fluid.banner img {
      height: 500px;
      width: 100%;
      object-fit: cover;
   }
   .banner .shop-btn {
      bottom: 10px;
      padding: 10px 13px;
   }
}
@media (min-width: 576px) {
   .container-fluid.banner img {
      height: 400px;
      width: 100%;
      object-fit: cover;
   }
   .banner .shop-btn {
      bottom: 10px;
      padding: 10px 20px;
   }
}
@media (min-width: 992px) {
   .container-fluid.banner img {
      height: 600px;
      width: 100%;
      object-fit: cover;
   }
}
@media (min-width: 1200px) {
   .container-fluid.banner img {
     height: 800px;
     width: 100%;
     object-fit: cover;
   }
   .banner .shop-btn {
      bottom: 30px;
   }
}
@media (min-width: 1900px) {
   .container-fluid.banner img {
      height: 850px;
      width: 100%;
      object-fit: cover;
   }
}